# ─── DEPENDENCIES ───
node_modules
/apps/*/node_modules
/packages/*/node_modules

# ─── ENVIRONMENTS ───
.env
.env.*
!.env.example

# ─── PRODUCTION BUILDS ───
dist
/apps/*/dist
.next
.turbo

# ─── IDE & SYSTEM ───
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.log

# ─── NESTJS SPECIFIC ───
/apps/backend/dist